:root {
    --links-visited: #00457a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --links-visited: #2792c3;
    }   
}

a:visited {
    text-decoration: none;
    color: #00457a;
    color: var(--links-visited);
  }
  
  @media (prefers-color-scheme: dark) {
  
    a:visited {
    color: #2792c3;
    color: var(--links-visited);
    }
  }


.report-page {
    display: flex;
    flex-direction: row;
}

.achievement-block {
    list-style: none;
}

.achievement-block_image {
    display: inline-block;
}
.achievement-block_wrapper {
    display: inline-block;
}

.achievement-block_wrapper::after {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: relative;
    z-index: 1;
    left: 0;
    bottom: 110%;
  }

.achievement-block_wrapper:hover::after {
    opacity: 1;
    visibility: visible;
}

div#report {
    max-width: 800px;
}