:root {
    --links-visited: #00457a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --links-visited: #2792c3;
    }   
}

button {
    margin: 0;
}

body {
    background-color: lavender;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background);
    }
}

a:visited {
    text-decoration: none;
    color: #00457a;
    color: var(--links-visited);
  }
  
  @media (prefers-color-scheme: dark) {
  
    a:visited {
    color: #2792c3;
    color: var(--links-visited);
    }
  }

h2 {
    margin-top: 0
}

input {
    background-color: var(--button-base);
}

.report-page {
    padding: 0 10px;
}

.achievements {
    max-width: 350px;
    position: absolute;
    right: 20px;
}

.achievement-block {
    border-radius: 15px;
    padding: 0;
    margin-bottom: 15px;
    background-color: lightsteelblue;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .achievement-block {
        background-color: darkslategray;
    }
}

.achievement-block__image {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.achievement-block__description {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.achievement-block__description_name {
    font-weight: bold;
    margin-bottom: 5px;
}

div#report {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#report-date-selector {
    margin-right: auto;
}

.entry {
    margin-top: 20px;
    padding: 10px 15px;
    padding-bottom: 2px;
    background-color: var(--background-alt);
    border-radius: 10px;
}

.report-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
