{{ define "content" }}

<a href='/logout'>Logout</a>
<a href='/'>Reports</a>
<a href='/achievement'>Achievements</a>

<br>

<div id='report' data-report-data={{ .ReportJSON }} >
    <h1>Achievements of {{ .User.Fullname }} for {{ .At.Format "2006-01-02" }}</h1>
    <br>
    {{ range $id, $achievement := .AchievementsMap }}
        {{ if $achievement.IsUnlocked }}
        <ul>
            <li>
                <p>{{ $achievement.Name }}</p>
                <ul>
                        <li>{{ $achievement.ConditionDescription }}</li>
                </ul>
            </li>
        </ul>
        {{ end }}
    {{ end }}
</div>

{{ end }}
