<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reporter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />

    <link rel='stylesheet' type='text/css' media='screen' href='/static/normalize.css'>
    <link rel="stylesheet" href="/static/water.min.css">
</head>

<body>
    <main>
        {{template "content" .}}
    </main>
</body>

</html>