{{ define "content" }}

<div class="report-page">

<div class="header">
    <input type="date" id="report-date-selector" name="date">
    <button type="submit" class='login-btn' formaction="/logout" formmethod="post">Logout</button>
</div>

<div id='report' data-report-data={{ .ReportJSON }} >
    <section class="report-header">
        <div>
            <h1>Report for {{ .Report.At.Format "2006-01-02" }}</h1>
            <p>Total time is {{ .Report.TotalDuration | formatDuration }}</p>
        </div>
        <div id='achievements'>
            <ul class="achievements" >
            {{ range $id, $achievement := .AchievementsMap }}
                {{ if $achievement.IsUnlocked }}
                    <li class="achievement-block">
                        <img class="achievement-block__image" src=" {{ $achievement.ImagePath }}" width="64" height="64" alt="{{ $achievement.ConditionDescription }}">
                        <span class="achievement-block__description">
                            <span class="achievement-block__description_name">{{ $achievement.DescriptionName }}</span>
                            <span class="achievement-block__description_text">{{ $achievement.ConditionDescription }}</span>
                        </span>
                    </li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
    </section>

    <br>
    {{- $redmineData := .RedmineData -}}
    {{- $formData := .FormData -}}
    <section class="entries">
    {{ range $id, $project := .Report.Projects }}
        <div class="entry">
        {{- $formUrl := index $formData $project.Name -}}
        {{- $redmineProject := index $redmineData $id -}}
        {{ if $formUrl }}
        <h2><a href='{{ $formUrl }}' target='_blank'>
        {{ $project.Name }} {{ $project.TotalDuration | formatDuration }}
        </a></h2>
        {{ else }}
        <h2>{{ $project.Name }} {{ $project.TotalDuration | formatDuration }}</h2>
        {{ end }}
        <ul>
            <li>
                <p>Paid {{ $project.Paid.Duration | formatDuration  }}</p>
                <ul>
                {{ range $task := $project.Paid.Tasks }}
                    {{- $redmineForm := index $redmineProject $task.Text -}}
                    {{- if $redmineForm -}}
                        <a href="{{ $redmineForm }}" target="_blank">
                            <li>{{ $task.Text }} {{ $task.Duration | formatDuration  }}</li>
                        </a>
                    {{ else }}
                        <li>{{ $task.Text }} {{ $task.Duration | formatDuration  }}</li>
                    {{ end }}
                {{ end }}
                </ul>
            </li>

            {{ if $project.NonPaid.Duration  }}
            <li>
                <p>Non-Paid {{ $project.NonPaid.Duration | formatDuration  }}</p>
                <ul>
                {{ range $task := $project.NonPaid.Tasks }}
                    <li>{{ $task.Text }} {{ $task.Duration | formatDuration  }}</li>
                {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
        </div>
    {{ end }}
    </section>
</div>
</div>
{{ end }}
